<!DOCTYPE html>
<html lang="en" class="bg-gradient-to-b from-blue-100 to-blue-300 text-gray-800 font-mono">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>H2O Game</title>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <style>

        .pixel-border {
            border: 1px solid #ddd;
            image-rendering: pixelated;
        }

        .atom-circle {
            border-radius: 9999px;
            font-size: 0.875rem;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: bold;
            position: absolute;
        }

        .atom-h {
            width: 36px;
            height: 36px;
        }

        .atom-o {
            width: 30px;
            height: 30px;
        }

        .atom-container {
            position: absolute;
            inset: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0px;
            //top: 50%;
            //left: 50%;
            //transform: translate(-50%, -50%);
            width: 100%;
            height: 100%;
            max-width: 100%;
            max-height: 100%;
        }

        .atom-svg {
            width: 80%;
            height: 80%;
            max-width: 100%;
            max-height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            //object-fit: contain;
          }

        .h-14 {
            height: 3.5rem;
        }

        .h-full {
            height: 100%;
        }

        .selected {
            transform: scale(1.1) !important;
            border-radius: 10px; /* Rounded corners */
            box-shadow: 0 0 8px 2px rgba(56, 189, 248, 0.5);
            z-index: 10;     
        }

        .flask-container {
            position: relative;
            width: 30px;
            height: calc(3.5rem * 10);
            border: 3px solid #3b82f6;
            border-radius: 10px;
            overflow: hidden;
            background-color: #e0f2fe;
        }
      
        .flask-fill {
            position: absolute;
            bottom: 0;
            width: 100%;
            transition: height 0.5s ease-in-out;
            overflow: hidden;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            background: linear-gradient(to top, #3b82f6, #60a5fa);
          }

        .popup-overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.75); /* Semi-transparent background */
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 1000; /* Ensure it's on top of everything */
        }

        .popup-content {
            background-color: white;
            padding: 2rem;
            border-radius: 0.5rem;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
            text-align: center;
        }

        .popup-title {
            font-size: 1.5rem;
            font-weight: bold;
            margin-bottom: 1rem;
        }

        .popup-button {
            background-color: #4caf50; /* Green */
            color: white;
            padding: 0.75rem 1.5rem;
            border: none;
            border-radius: 0.25rem;
            cursor: pointer;
            font-weight: bold;
            transition: background-color 0.2s ease-in-out;
        }

        .popup-button:hover {
            background-color: #3e8e41;
        }

        .rule-item {
            margin-bottom: 1rem;
            line-height: 1.4;
            text-align: left;
        }

        ol {
            list-style-type: decimal;
            padding-left: 20px;
            margin-bottom: 1rem;
        }
    </style>
</head>
<body class="flex flex-col min-h-screen items-center p-2">

    <!-- Header -->
    <header class="text-center text-xl sm:text-2xl font-bold my-4 text-blue-700">
        H₂O Game ⚛️
    </header>

    <div class="flex gap-4 items-start" x-data="gameBoard">
        <!-- Game Board -->
        <div 
            :class="{ 'border-4 border-red-500': showError }"
            class="grid grid-cols-8 gap-[2px] w-full max-w-[380px]"
        >
            <template x-for="row in 10" :key="row">
                <template x-for="col in 8" :key="`${row}-${col}`">
                    <div                     
                        class="w-14 h-14 bg-gray-100 relative pixel-border overflow-hidden cursor-pointer"
                        @click="handleCellClick(row, col)"
                        :class="{ 'selected': selectedCell.includes(`${row}-${col}`) }">
                        <template x-if="atoms[`${row}-${col}`]">
                            <div class="atom-container" style="top: 50%; left: 50%; transform: translate(-50%, -50%);">
                            <div
                                class="atom-svg"
                                x-html="getAtomSvg(atoms[`${row}-${col}`][0].symbol)"
                            ></div>
                            </div>
                        </template>
                    </div>
                </template>
            </template>
            <div class="col-span-full my-4 text-center">              
                <button
                    @click="toggleGame"
                    class="bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded pixel-border"
                    x-text="running ? 'Stop Game' : 'Start Game'"
                ></button>
            </div>
        </div>

        <!-- Flask -->
        <div>
            <div class="flask-container relative w-32 h-64 border-4 border-blue-400 rounded-b-full overflow-hidden mx-auto">
                <div class="flask-fill absolute bottom-0 w-full transition-all duration-500 ease-in-out bg-blue-400" :style="{ height: flaskLevel + '%' }"></div>
              </div>
        </div>

        <!-- Game Won Popup -->
        <div x-show="gameWon" class="popup-overlay">
            <div class="popup-content">
                <div class="popup-title">You Win!</div>
                <p>Congratulations! You've successfully filled the flask!</p>
                <button @click="gameWon = false" class="popup-button">Close</button>
            </div>
        </div>

        <!-- Game Rules Popup -->
        <div x-show="gameRules" class="popup-overlay">
            <div class="popup-content">
                <div class="popup-title">Game Rules:</div>
                <ol>
                    <li class="rule-item">Combine Hydrogen (H) and Oxygen (O) atoms to create a water molecule (H₂O).</li>
                    <li class="rule-item">Move H₂O molecules to the bottom row of the game board.</li>
                    <li class="rule-item">Fill the flask to win!</li>
                </ol>
                <button @click="gameRules = false" class="popup-button">Close</button>
            </div>
        </div>
    
    </div>

    <!-- Footer -->
    <footer class="w-full mt-10 p-3 text-center text-gray-500 text-xs sm:text-sm border-t border-gray-300">
        <p class="tracking-wide">
            Made with 🚀 and ☕ by <span class="text-indigo-600 hover:text-indigo-500 transition">Tyyrok</span> | 2025
        </p>
    </footer>

    <script type="application/json" id="highScores-data">
        {{ .highScores }}
    </script>
    <script>
        document.addEventListener('alpine:init', () => {
            Alpine.data('gameBoard', () => ({
                ws: null,
                atoms: {},
                positions: {},
                selectedCell: [],
                running: false,
                selected: [],
                flaskLevel: 30,
                inputLocked: true,
                showError: false,
                gameWon: false,
                gameRules: false,
                options: [
                    { symbol: 'H', color: 'bg-blue-300' },
                    { symbol: 'O', color: 'bg-red-300' },
                    { symbol: 'N', color: 'bg-yellow-300' },
                    { symbol: 'N2', color: 'bg-yellow-100' },
                    { symbol: 'H2O', color: 'bg-green-300' },
                ],

                init() {
                    this.generateRandomAtoms();
                },

                toggleGame() {
                    this.inputLocked = !this.inputLocked;
                    this.running = !this.running;
                    if (this.running) {
                        this.connectWebSocket();
                        this.gameRules = true;
                    } else {
                        this.sendEndGame();
                        this.flaskLevel = 30;
                        this.generateRandomAtoms();
                    }
                },

                generateRandomAtoms() {
                    for (let row = 1; row <= 10; row++) {
                        for (let col = 1; col <= 8; col++) {
                            const key = `${row}-${col}`;
                            this.atoms[key] = [this.options[Math.floor(Math.random() * this.options.length)]];
                        }
                    }
                },

                updateBoard(board) {
                    for (let row = 1; row <= 10; row++) {
                        for (let col = 1; col <= 8; col++) {
                            const key = `${row}-${col}`;
                            this.atoms[key] = [this.options[board.cells[row-1][col-1]]];
                        }
                    }
                    this.flaskLevel = board.waterLevel;
                },

                countAtoms() {
                    return Object.values(this.atoms).reduce((acc, list) => acc + list.length, 0);
                },

                startLoop() {
                    setInterval(() => {
                        if (!this.running) return;
                        this.generateRandomAtoms();
                    }, 2000);
                },

                updateFlaskLevel() {
                    const total = Object.values(this.atoms).flat().length;
                    const h2oCount = Object.values(this.atoms).flat().filter(a => a.symbol === 'H2O').length;
                    this.flaskLevel = Math.min(100, Math.round((h2oCount / total) * 100));
                },

                connectWebSocket() {
                    this.ws = new WebSocket(`ws://${location.host}/api/start`);
                    this.ws.onopen = () => console.log("WS connected");
                    this.ws.onclose = (e) => {
                        console.log("WS disconnected", e);
                        this.inputLocked = true;
                        //window.location.replace("/");
                    };
                    this.ws.onerror = (e) => console.error("WS error", e);
                    this.ws.onmessage = (e) => {
                        const data = JSON.parse(e.data);
                        if (data.type === "update_board") {
                            this.updateBoard(data.data.board);
                        } else if (data.type == "move") {
                            if (data.data.status == "swap") {
                                this.swapCells(data.data.turns);
                                if ("newWaterLevel" in data.data) {
                                    this.flaskLevel = data.data.waterLevel;
                                    this.changeWaterLevel(data.data.newWaterLevel);
                                }
                                if ("win" in data.data) {
                                    this.inputLocked = true;
                                    this.running = false;
                                    this.ws.close();
                                    this.gameWon = true;
                                } else{
                                    this.inputLocked = false;
                                }
                            } else if (data.data.status == "create_h2o") {
                                this.addH2o(data.data.turns, data.data.new);
                                if ("newWaterLevel" in data.data) {
                                    this.flaskLevel = data.data.waterLevel;
                                    this.changeWaterLevel(data.data.newWaterLevel);
                                }
                                if ("win" in data.data) {
                                    this.inputLocked = true;
                                    this.running = false;
                                    this.ws.close();
                                    this.gameWon = true;
                                } else{
                                    this.inputLocked = false;
                                }
                            } else if (data.data.status == "create_n2") {
                                this.addN2(data.data.turns, data.data.new);
                                this.inputLocked = false;
                            } else if (data.data.status == "fail") {
                                this.inputLocked = false;
                                this.selected = [];
                                this.selectedCell = [];
                                this.invalidTurn();
                            }
                        }
                    }
                },

                changeWaterLevel(newValues) {
                    for (let col = 1; col <= 8; col++) {
                        const key = `1-${col}`;
                        this.atoms[key] = [this.options[newValues[col-1]]];
                    }
                },

                invalidTurn() {
                    this.showError = true;
                    setTimeout(() => {
                        this.showError = false;
                    }, 500);
                },

                addH2o(turns, newElems) {
                    const key1 = `${turns[0].row+1}-${turns[0].col+1}`;
                    const key2 = `${turns[1].row+1}-${turns[1].col+1}`;
                    const key3 = `${turns[2].row+1}-${turns[2].col+1}`;
                    this.atoms[key1] = [this.options[newElems[0]]];
                    this.atoms[key2] = [this.options[newElems[1]]];
                    this.atoms[key3] = [this.options[4]]
                    this.selected = [];
                    this.selectedCell = [];
                },

                addN2(turns, newElems) {
                    const key1 = `${turns[0].row+1}-${turns[0].col+1}`;
                    const key2 = `${turns[1].row+1}-${turns[1].col+1}`;
                    this.atoms[key1] = [this.options[newElems[0]]];
                    this.atoms[key2] = [this.options[3]]
                    this.selected = [];
                    this.selectedCell = [];
                },

                swapCells(turns) {
                    const keyA = `${turns[0].row+1}-${turns[0].col+1}`;
                    const keyB = `${turns[1].row+1}-${turns[1].col+1}`;
                    let c = this.atoms[keyA];
                    this.atoms[keyA] = this.atoms[keyB];
                    this.atoms[keyB] = c;
                    this.selected = [];
                    this.selectedCell = [];
                },

                handleCellClick(row, col) {
                    if (this.inputLocked) return;
                    const key = `${row}-${col}`;
                    this.selectedCell.push(key);
                    const current = this.atoms[key];
                    if (this.selected.length == 0) {
                        this.selected.push({ row, col });
                    } else if (this.selected.length == 1) {
                        let prev_key = `${this.selected[0].row}-${this.selected[0].col}`;
                        if (["H", "O"].includes(this.atoms[prev_key][0].symbol) && ["H", "O"].includes(this.atoms[key][0].symbol)) {
                            this.selected.push({ row, col });
                        } else {
                            const turnData = [this.selected[0], {"row": row, "col": col}]
                            this.sendMove(turnData);
                            this.inputLocked = true;
                        }
                    } else {
                        first_key = `${this.selected[0].row}-${this.selected[0].col}`
                        second_key = `${this.selected[1].row}-${this.selected[1].col}`
                        let suppl_array = [this.atoms[first_key][0].symbol, this.atoms[second_key][0].symbol];
                        if (
                            (suppl_array[0] == "H" && suppl_array[0] == "H" && current[0].symbol == "O")
                            || (suppl_array[0] == "O" && suppl_array[1] == "H" && current[0].symbol == "H")
                            || (suppl_array[0] == "H" && suppl_array[1] == "O" && current[0].symbol == "H")
                        ) {
                            const turnData = [this.selected[0], this.selected[1], {"row": row, "col": col}];
                            this.sendMove(turnData);
                            this.inputLocked = true;
                        } else {
                            this.selected = [];
                            this.selectedCell = [];
                        }
                    }

                },

                sendMove(data) {
                    data = this.formatDataToSend(data);
                    if (this.ws && this.ws.readyState === WebSocket.OPEN) {
                        this.ws.send(JSON.stringify({
                            type: "move",
                            data: {
                                "turns": data
                            }
                        }));
                    }
                },

                formatDataToSend(data) {
                    for (const elem in data) {
                        elem.row = 10 - elem.row;
                    }
                    return data
                },

                sendEndGame() {
                    if (this.ws && this.ws.readyState === WebSocket.OPEN) {
                        this.ws.send(JSON.stringify({
                            type: "end_game",
                        }));
                    }
                    this.inputLocked = false;
                },

                atomSvgs: {
                    H: `<svg width="80%" height="80%" viewBox="0 0 32 32" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg">
                    <defs>
                        <radialGradient id="hydrogenGradient" cx="30%" cy="30%" r="70%" fx="30%" fy="30%">
                        <stop offset="0%" style="stop-color:#ffffff;stop-opacity:1" /> <!-- Brighter highlight -->
                        <stop offset="70%" style="stop-color:#e0e0e0;stop-opacity:1" />
                        <stop offset="100%" style="stop-color:#a0a0a0;stop-opacity:1" /> <!-- Darker shadow -->
                        </radialGradient>
                        <filter id="dropShadow">
                        <feGaussianBlur in="SourceAlpha" stdDeviation="1" result="blur"/>
                        <feOffset dx="1" dy="1" in="blur" result="offsetBlur"/>
                        <feComponentTransfer>
                            <feFuncA type="linear" slope="0.5"/> <!-- Reduce shadow opacity -->
                        </feComponentTransfer>
                        <feMerge>
                            <feMergeNode in="offsetBlur" />
                            <feMergeNode in="SourceGraphic" />
                        </feMerge>
                        </filter>
                    </defs>
                    <circle cx="16" cy="16" r="14" fill="url(#hydrogenGradient)" filter="url(#dropShadow)" />
                    <text x="16" y="22" text-anchor="middle" font-size="16" font-family="sans-serif" fill="#424242">H</text>
                    </svg>`,
                    O: `<svg width="80%" height="80%" viewBox="0 0 32 32" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg">
                    <defs>
                        <radialGradient id="oxygenGradient" cx="30%" cy="30%" r="70%" fx="30%" fy="30%">
                        <stop offset="0%" style="stop-color:#ff8a80;stop-opacity:1" />  <!-- Lighter red highlight -->
                        <stop offset="70%" style="stop-color:#f44336;stop-opacity:1" />  <!-- Base red color -->
                        <stop offset="100%" style="stop-color:#b71c1c;stop-opacity:1" />  <!-- Darker red shadow -->
                        </radialGradient>
                        <filter id="dropShadow">
                        <feGaussianBlur in="SourceAlpha" stdDeviation="1" result="blur"/>
                        <feOffset dx="1" dy="1" in="blur" result="offsetBlur"/>
                        <feComponentTransfer>
                            <feFuncA type="linear" slope="0.5"/> <!-- Reduce shadow opacity -->
                        </feComponentTransfer>
                        <feMerge>
                            <feMergeNode in="offsetBlur" />
                            <feMergeNode in="SourceGraphic" />
                        </feMerge>
                        </filter>
                    </defs>
                    <circle cx="16" cy="16" r="14" fill="url(#oxygenGradient)" filter="url(#dropShadow)" />
                    <text x="16" y="22" text-anchor="middle" font-size="16" font-family="sans-serif" fill="white">O</text>
                    </svg>`,
                    N: `<svg width="80%" height="80%" viewBox="0 0 32 32" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg">
                    <defs>
                        <radialGradient id="nitrogenGradient" cx="30%" cy="30%" r="70%" fx="30%" fy="30%">
                        <stop offset="0%" style="stop-color:#90caf9;stop-opacity:1" />  <!-- Lighter blue highlight -->
                        <stop offset="70%" style="stop-color:#2196f3;stop-opacity:1" />  <!-- Base blue color -->
                        <stop offset="100%" style="stop-color:#0d47a1;stop-opacity:1" />  <!-- Darker blue shadow -->
                        </radialGradient>
                        <filter id="dropShadow">
                        <feGaussianBlur in="SourceAlpha" stdDeviation="1" result="blur"/>
                        <feOffset dx="1" dy="1" in="blur" result="offsetBlur"/>
                        <feComponentTransfer>
                            <feFuncA type="linear" slope="0.5"/> <!-- Reduce shadow opacity -->
                        </feComponentTransfer>
                        <feMerge>
                            <feMergeNode in="offsetBlur" />
                            <feMergeNode in="SourceGraphic" />
                        </feMerge>
                        </filter>
                    </defs>
                    <circle cx="16" cy="16" r="14" fill="url(#nitrogenGradient)" filter="url(#dropShadow)" />
                    <text x="16" y="22" text-anchor="middle" font-size="16" font-family="sans-serif" fill="white">N</text>
                    </svg>`,
                    H2O: `<svg width="100%" height="100%" viewBox="0 0 96 96" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg">
                    <defs>
                        <radialGradient id="hydrogenGradient" cx="30%" cy="30%" r="70%" fx="30%" fy="30%">
                        <stop offset="0%" style="stop-color:#ffffff;stop-opacity:1" />
                        <stop offset="70%" style="stop-color:#e0e0e0;stop-opacity:1" />
                        <stop offset="100%" style="stop-color:#a0a0a0;stop-opacity:1" />
                        </radialGradient>
                        <radialGradient id="oxygenGradient" cx="30%" cy="30%" r="70%" fx="30%" fy="30%">
                        <stop offset="0%" style="stop-color:#ff8a80;stop-opacity:1" />
                        <stop offset="70%" style="stop-color:#f44336;stop-opacity:1" />
                        <stop offset="100%" style="stop-color:#b71c1c;stop-opacity:1" />
                        </radialGradient>
                        <filter id="dropShadow">
                        <feGaussianBlur in="SourceAlpha" stdDeviation="2" result="blur"/>
                        <feOffset dx="2" dy="2" in="blur" result="offsetBlur"/>
                        <feComponentTransfer>
                            <feFuncA type="linear" slope="0.5"/>
                        </feComponentTransfer>
                        <feMerge>
                            <feMergeNode in="offsetBlur" />
                            <feMergeNode in="SourceGraphic" />
                        </feMerge>
                        </filter>
                    </defs>

                    <!-- Wrap everything in one centered group -->
                    <g transform="translate(24, 16)">
                        <!-- Oxygen -->
                        <g>
                        <circle cx="24" cy="24" r="28" fill="url(#oxygenGradient)" filter="url(#dropShadow)" />
                        <text x="24" y="30" text-anchor="middle" font-size="28" font-family="sans-serif" fill="white">O</text>
                        </g>

                        <!-- Hydrogen Left -->
                        <g transform="translate(-12, 32)">
                        <circle cx="12" cy="12" r="20" fill="url(#hydrogenGradient)" filter="url(#dropShadow)" />
                        <text x="12" y="16" text-anchor="middle" font-size="16" font-family="sans-serif" fill="#424242">H</text>
                        </g>

                        <!-- Hydrogen Right -->
                        <g transform="translate(36, 32)">
                        <circle cx="12" cy="12" r="20" fill="url(#hydrogenGradient)" filter="url(#dropShadow)" />
                        <text x="12" y="16" text-anchor="middle" font-size="16" font-family="sans-serif" fill="#424242">H</text>
                        </g>
                    </g>
                    </svg>
                    `,
                    N2: `<svg width="100%" height="100%" viewBox="0 0 38 38" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg">
                        <defs>
                          <radialGradient id="nitrogenGradient" cx="30%" cy="30%" r="70%" fx="30%" fy="30%">
                            <stop offset="0%" style="stop-color:#90caf9;stop-opacity:1" />  <!-- Lighter blue highlight -->
                            <stop offset="70%" style="stop-color:#2196f3;stop-opacity:1" />  <!-- Base blue color -->
                            <stop offset="100%" style="stop-color:#0d47a1;stop-opacity:1" />  <!-- Darker blue shadow -->
                          </radialGradient>
                          <filter id="dropShadow">
                            <feGaussianBlur in="SourceAlpha" stdDeviation="1" result="blur"/>
                            <feOffset dx="2" dy="2" in="blur" result="offsetBlur"/>
                            <feComponentTransfer>
                                <feFuncA type="linear" slope="0.5"/> <!-- Reduce shadow opacity -->
                            </feComponentTransfer>
                            <feMerge>
                              <feMergeNode in="offsetBlur" />
                              <feMergeNode in="SourceGraphic" />
                            </feMerge>
                          </filter>
                        </defs>
                        <g transform="translate(8, 3)">
                          <circle cx="18" cy="18" r="10" fill="url(#nitrogenGradient)" filter="url(#dropShadow)" />  <!-- First N, shifted -->
                          <text x="16" y="22" text-anchor="middle" font-size="12" font-family="sans-serif" fill="white">N</text>
                        </g>
                        <g transform="translate(-8, -3)">
                          <circle cx="18" cy="18" r="10" fill="url(#nitrogenGradient)" filter="url(#dropShadow)" />  <!-- Second N, shifted -->
                          <text x="16" y="22" text-anchor="middle" font-size="12" font-family="sans-serif" fill="white">N</text>
                        </g>
                      </svg>`,
                },

                getAtomSvg(symbol) {
                    return this.atomSvgs[symbol] || '';
                },

            }));
        });
    </script>
</body>
</html>
